
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    <div  align="right">
        <a class="btn btn-primary" asp-controller="account" asp-action="register" >Register</a>
        <a class="btn btn-primary" asp-controller="account" asp-action="login" >Login</a>
        <a class="btn btn-primary" asp-controller="account" asp-action="logout">Logout</a>
        <a class="btn btn-primary" asp-controller="account" asp-action="createrole">Create Role</a>
        <a class="btn btn-primary" asp-controller="account" asp-action="listroles">List Role</a>
    </div>

</head>
<body>
    
    <div>
        @RenderBody()
    </div>
  
</body>
</html>
